<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
  <form action="/user/upload" method="post">
        <p>動画ID:<input type="text" name="url"></p>
        <p>動画のタイトル:<input type="text" name="title"></p>
        <p>動画へのコメント:<input type="text" name="body"></p>
        <select name="category" id="category">
          <option value="Stand-up">Stand-Up</option>
          <option value="Solo">Solo</option>
          <option value="Manzai">Manzai</option>
          <option value="Skit">Skit</option>
          <option value="Tv-Show">Tv-Show</option>
        </select>
        <p><input type="submit" value="投稿"></p>
    </form>
    
</body>
</html>